/* Dark mode colors. */
:root[data-theme="dark"] {
  --sl-color-accent-low: #7c597e;
  --sl-color-accent: #de8be0;
  --sl-color-accent-high: #eab1ec;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f5f5f5;
  --sl-color-gray-2: #d8d8d8;
  --sl-color-gray-3: #c9c9c9;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #3c3c3c;
  --sl-color-gray-6: #272727;
  --sl-color-black: #2e2e2e;

  --sl-color-panel-divider: #454848;
  --slsg-graph-outline-color: #454848;
  --sl-color-hairline: #454848;
  --sl-color-body-highlight: #362e42;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #874ebf;
  --sl-color-accent: #722197;
  --sl-color-accent-high: #6718b5;
  --sl-color-white: #181818;
  --sl-color-gray-1: #3c3c3c;
  --sl-color-gray-2: #404040;
  --sl-color-gray-3: #484848;
  --sl-color-gray-4: #6c6c6c;
  --sl-color-gray-5: #797878;
  --sl-color-gray-6: #d9d9d9;
  --sl-color-gray-7: #dfdfdf;
  --sl-color-black: #e6e6e6;

  --sl-color-panel-divider: #b7bdc8;
  --slsg-graph-outline-color: #b7bdc8;
  --sl-color-hairline: #b7bdc8;
  --sl-color-body-highlight: #ecd5ec;

  /* Hover text color only for light theme */
  .sl-markdown-content a:not(:has(> code)):hover {
    color: #a86ec4;
  }

  :where(.right-sidebar a[aria-current="true"]) {
    background-color: #f0e6f4;
  }

  :where(.sidebar a[aria-current="page"]) {
    background-color: #f0e6f4;
  }
}

:root {
  --sl-content-width: 65rem;
  --sl-text-5xl: 2.2rem;
  --sl-text-4xl: 1.8rem;
  --sl-text-3xl: 1.6rem;
  --sl-text-2xl: 1.3rem;
  --sl-text-xs: 0.9rem;
  --sl-text-code-sm: 0.9rem;

  /* Highlighted color behind bold, italic, and hyperlink texts */
  .sl-markdown-content strong {
    font-weight: 600;
  }
  .sl-markdown-content strong:not(:has(> code)),
  .sl-markdown-content em,
  .sl-markdown-content a:not(:has(> code)) {
    background-color: var(--sl-color-body-highlight);
    padding: 0.15rem;
    border-radius: 0.3rem;
  }

  .sl-markdown-content a[target="_blank"] {
    display: inline-flex;
    align-items: center;
  }

  .sl-heading-wrapper {
    margin-top: 1em;
  }

  .content-panel {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  :where(.sidebar a[aria-current="page"]) {
    background-color: #282828;
  }

  :where(.right-sidebar a[aria-current="true"]) {
    background-color: #282828;
  }
}

@layer obsidian {
  /* Spacing: enable blank space vertically on sidebar and main content */
  @media (min-width: 50em) {
    .main-pane {
      padding-top: 1rem;
    }

    .sidebar-content {
      height: auto;
    }
  }

  :root[data-theme="dark"] {
    --sl-color-bg: rgb(30, 30, 32);

    .main-frame {
      background-color: #1a1a1c;
    }

    .right-sidebar {
      border-left: solid 1px #28282b;
    }

    .sidebar-content {
      border-right: solid 1px #28282b;
    }
  }

  .main-frame {
    background-color: #fff;
  }

  .right-sidebar {
    border-left: solid 1px #edeef3;
  }

  .sidebar-content {
    border-right: solid 1px #edeef3;
  }
}

@layer starlight {
  .top-level li {
    padding-left: var(--sl-sidebar-item-padding-inline);
    padding-right: var(--sl-sidebar-item-padding-inline);
  }

  .top-level a {
    padding-top: 0.1rem;
  }

  .mobile-preferences {
    padding-bottom: 1rem;
  }

  .right-sidebar-container {
    min-width: 15rem;
  }
}

.right-sidebar-panel a {
  padding-top: 0.1rem;
}

.backlink a:hover {
  color: var(--slsg-text-color-accent);
}

.site-title {
  height: 50px;
}

.sl-markdown-content img {
  border: 1px solid black;
}

br {
  display: block;
  content: " ";
  margin-top: 4px;
}

.pagination-links {
  gap: 1.5rem;
}

.pagination-links a {
  padding: 0.8rem;
  border: 1px solid var(--sl-color-panel-divider);
}

footer {
  border-top: none;
}

.kudos {
  align-self: center;
}